{% set page_name = 'events' %}
{% extends 'myforms.html.twig' %}

{% block title %}
{{ parent() }} -  Редактировать событие по заказу
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header text-center">
        <h2>Изменить данные события по заказу <span class="fa fa-edit " aria-hidden="true"></span></h2>
        <ol class="breadcrumb">
            <li>
                <a class="btn btn-link" href="{{ path('project_edit', { 'id':  stageOrderEvent.order.stage.idProject }) }}">
                {{ stageOrderEvent.order.stage.project.name }}
                </a>
            </li>
            <li>
                <a class="btn btn-link" href="{{ path('projectstage_edit', { 'id':  stageOrderEvent.order.idStage }) }}">
                    {{ stageOrderEvent.order.stage.name }}
                </a>
            </li>   
            <li>
                <a class="btn btn-link" href="{{ path('stageorder_edit', { 'id':  stageOrderEvent.idOrder }) }}">
                    {{ stageOrderEvent.order }}
                </a>
            </li>
             <li class="active">
                Событие ID:{{ stageOrderEvent.id }}
            </li>
        </ol>
        
    </div>
</div>

    

    {{ form_start(edit_form) }}

    {% include "stageorderevent/_form.html.twig"   with {'form': edit_form} %}
    <div class="row text-center">
        <button type="submit" class="btn btn-lg btn-primary">
            <span class="fa  fa-save" aria-hidden="true"></span> Сохранить
        </button>
    </div>
    {{ form_end(edit_form) }}
    
    <hr/>

    
<div class="form-group">
    <a class="btn btn-default" href="{{ path('stageorder_edit', { 'id':  stageOrderEvent.idOrder }) }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Вернуться к заказу
    </a>

    <form action="{{ path('stageorderevent_delete', { 'id': stageOrderEvent.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Вы уверены что хотите удалить событие?');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Удалить событие
        </button>
    </form>
</div>

</div>


{% endblock %}

