<div class ="col-md-12">
    <div class="row">
        <div class="col-md-8">
            {{ form_row(form.name) }}
        </div> 
        <div class="col-md-4">
            {{ form_row(form.workDate) }}
        </div> 
    </div>    
        
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.section) }}
        </div> 
        <div class="col-md-6">
            {{ form_row(form.sector) }}
        </div> 
    </div>    
            
    <div class="row ">
        <div class="col-md-6">
            {{ form_row(form.info) }}
        </div>     
        <div class="col-md-6">
            {{ form_row(form.object) }}
            {{ form_row(form.subobject) }}
        </div>        
    </div>
        
    <h3 class="files-l">Файлы</h3>
    
    <div class="files " data-prototype="{{ form_widget(form.files.vars.prototype)|e('html_attr') }}">
        {% for file in form.files %}
            <div class="file col-md-4 well" style="height:600px; overflow:scroll;">
                    {{ form_row(file.name) }}
                    {{ form_row(file.File) }}
            </div>
        {% endfor %}
    </div>    
    
    
        
                
</div>    


    
