{% extends 'myforms.html.twig' %}

{% block title %}
{{ parent() }} - Выплаты
{% endblock %}

{% block body %}
    
<div id="top" class="row">
    <div class="page-header col-md-12 text-center">
                <h2><a href="{{ path('user_report_pays2') }}">Выплаты</a></h2>

    </div>
</div> <hr>    

<!-- FILTERING -->
<div class="col-md-12">
    <div  id="filters" class="">
        <form class="well" action="{{ path('user_report_pays2') }}" method="get" >
        <div class="row">
        {% if admin %}
        <div class="col-md-3">
            {{ form_row(filterForm.leg) }}
        </div>
        {% endif %}    
        <div class="col-md-3">
            {{ form_row(filterForm.user) }}
        </div>
        <div class="col-md-3">
            {{ form_row(filterForm.dt2) }}
        </div>
        <div class="col-md-3 text-center" style="padding-top: 1.8em">
             <button type="submit" class="btn btn-success" name="filter_action" value="filter"> <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Применить фильтр</button>
             {#<button type="submit" class="btn btn-default" name="filter_action" value="reset"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Сбросить</button>#}
        </div>
    </div>     
        </form>
    </div>
</div>
<!-- END FILTERING -->   

<div class="row">
    <div class="table-responsive col-md-12">
        <table class="table table-striped table-hover table-bordered" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th rowspan="2">Генподрядчик</th>
                    <th rowspan="2">Наименование проекта</th>
                    <th rowspan="2">ГИП</th>
                    <th rowspan="2">Наименование раздела</th>
                    <th colspan="13">ВЫПЛАЧЕНО (руб.)</th>
                </tr>
                <tr>
                    {% for mn in mns %}
                    <th>{{ mn }}</th>    
                    {% endfor %}  
                </tr>    
            </thead>
                
            <tbody>
                {% set i = 0 %}
                {% set j = 0 %}
                {% if cnts|length>i %}
                    {% set n = cnts[i] %}
                {% endif %}
                
  
                {% for pay in pays %}
                    <tr>
                    {% if j==0 %}
                        <td rowspan="{{ n }}">{{ pay['leg'] }}</td>
                        <td rowspan="{{ n }}">{{ pay['project'] }}</td>
                        <td rowspan="{{ n }}">{{ pay['gip'] }}</td>
                    {% endif %}    
                        
                    <td>{{ pay['section'] }}</td>
                    {% for mn in mns %}
                    <td>{{ pay[mn] }}</td>    
                    {% endfor %}   
                    </tr>
                    {% set j = j+1 %}
                    {% if j==n %}
                        {% set i = i+1 %}
                        {% if cnts|length>i %}
                            {% set n = cnts[i] %}
                        {% endif %}
                        {% set j = 0 %}
                    {% endif %}
                {% endfor %}
               
            </tbody>
            
            <tfooter>
                <tr>
                    <td colspan="4" align="right"><strong>Итого:  </strong></td>
                    {% for mn in mns %}
                    <td><strong>{{ sums[mn]| round(2) }}</strong></td>
                    {% endfor %}
                    
                </tr>
                
            </tfooter>
        </table>    
    </div>            
</div>

{#                    
{{ dump(mns)  }}    
{{ dump(pays) }}
{{ dump(cnts)  }}
#}

{% endblock %}