{% extends 'myforms.html.twig' %}

{% block title %}
{{ parent() }} - project
{% endblock %}

{% block body %}

<div id="top" class="row">
    <div class="page-header">
        <h2>View project <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p><strong>Id</strong></p>
        <p>
            {{ project.id }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Name</strong></p>
        <p>
            {{ project.name }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Customerid</strong></p>
        <p>
            {{ project.CustomerId }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Contractorid</strong></p>
        <p>
            {{ project.ContractorId }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Gipid</strong></p>
        <p>
            {{ project.GipId }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Nofot</strong></p>
        <p>
            {{ project.nofot }}
        </p>

    </div>
    <div class="col-md-6">
        <p><strong>Info</strong></p>
        <p>
            {{ project.info }}
        </p>

    </div></div>

<hr/>


<div class="form-group">
    <a class="btn btn-default" href="{{ path('project') }}">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        Back to list
    </a>
    <a class="btn btn-primary" href="{{ path('project_edit', { 'id':  project.id }) }}">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
    </a>
    <a class="btn btn-info" href="{{ path('project_new') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        New
    </a>
    <form action="{{ path('project_delete', { 'id': project.id }) }}" method="post" style="display: inline-block">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure');">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Delete
        </button>
    </form>
</div>


{% endblock %}

